<!DOCTYPE html>
<html>
  <head>
    <title>Checkout Page</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style2.css" />
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/handlebars-v4.0.12.js"></script>
  </head>

  <body>
    <script id="cart-template" type="text/x-handlebars-template">
      <div class="container">
      	<header>
      		<h2>{{heading}}</h2>
      		<h3 class="mobile-only"><span id="items-count"></span> ITEMS</h3>
      	</header>
      	<div>
      		<table class="list-items">
      			<tr class="hide">
      				<th colspan="2" class="items-count" id="items-count">3 ITEMS</th>
      				<th>size</th>
      				<th>qty</th>
      				<th class="center-align">price</th>
      			</tr>
      			{{#each cartItems}}
      			<tr>
      				<td class="productImg">
      					<img src ={{img}} />
      				</td>
      				<td>
      					<p class="productTitle" id="productTitle-{{@index}}">{{name}}</p>
      					<p>Style #: {{style}}</p>
      					<p>Color: {{color}}</p>

      					<p class="mobile-productSize">Size: <span id="mobile-productSize-{{@index}}">{{size}}</span></p>

      					<span class="show-mobile"> QTY:</span>
      					<input type="number" value="{{qty}}" id="mobile-pqty-{{@index}}" min="1" class="mobile-productQty" onchange="mobilemyFunction({{@index}})">
      					<br>
        <span class="show-mobile" id = "hide-validate">$</span>
        <p class="mobile-productPrice" id="mobile-productPrice-{{@index}}">{{price}}</p>

      					<div class="productControls">
      						<a href="#popup1" onclick="popFunction({{@index}})">Edit</a> |
      						<a href="#"> X REmove </a> |
      						<a href="#">save for later</a>
      					</div>
      				</td>
      				<td class="hide">
      					<p class="productSize" id="product-size-{{@index}}">{{size}}</p>
      				</td>
      				<td class="hide">
      					<input type="number" value="{{qty}}" id="pqty-{{@index}}" min="1" class="productQty" onchange="myFunction1({{@index}})" />
      				</td>
      				<td class="hide center-align">
      					<span class="productPrice"><sup>$</sup>{{price}}</span><span class="hide"> *</span>
      					<span class="productPrice" id="update-qty-{{@index}}">{{qty}}</span><span class="hide"> =</span>
      					<span class="productPrice" id="update-price-{{@index}}">{{price}}</span>
      				</td>
      				<td class="hide">
      					<input type="hidden" value="{{price}}" id="product-price-{{@index}}"/>
      					<input type="hidden" value="{{price}}" id="mobile-product-price-{{@index}}"/>
      					<input type="hidden" value="{{img}}" id="img-src-{{@index}}"/>
      				</td>
      			</tr>
      			{{/each}}
      		</table>
      	</div>
      </div>
      <div class="below-container-rapper">
      	<div class="below-container">
      		<div class="customerService">
      			<p class="customer-service-content">
      				<b> Need help
      					<br>or have questions?</b>
      			</p>
      			<p class="customer-service-content">Call Customer Service at
      				<br>1-800-555-5555</p>
      			<p class="customer-service-content">
      				<u>Chat with one of
      					<br>our stttylists</u>
      			</p>
      			<p class="customer-service-content">
      				<u>See return
      					<br> & exchange policy</u>
      			</p>
      		</div>
      		<div class="checkoutJourney">
      			<div class="promo">
      				<div class="promo-left">
      					<span>ENTER PROMOTION CODE
      						<br> OR GIFT CARD</span>
      				</div>
      				<div class="promo-right">
      					<input type="text" id="promotionId" name="promotionName">
      					<button class="applyButton">Apply</button>
      				</div>
      			</div>
      			<div>
      				<table class="checkout-total">
      					<tr>
      						<td class="table-left">
      							<b>Subtotal</b>
      						</td>
      						<td class="table-right">
      							<span>$</span><span id="sub-total">320.00</span>
      						</td>
      					</tr>
      					<tr>
      						<td class="table-left">
      							Promotion code
      							<b>Jf10</b> applied

      						</td>
      						<td class="table-right">
      							<span>-$</span><span id="promo-code-discount">14.00</span>
      						</td>
      					</tr>
      					<tr>
      						<td class="table-left">
      							<b>Estimated shippping</b>
      							<br> You qualify for free shippping because
      							<br> your order is over $50*
      						</td>
      						<td class="table-right">
      							Free
      						</td>
      					</tr>
      				</table>
      				<table class="estimated-total">
      					<tr>
      						<td class="table-left">
      							<b style="font-size: 18px;">Estimated Total</b>
      							<br>
      							<span>Tax will be applied during checkout</span>
      						</td>
      						<td class="table-right"><span>$</span><span id="checkout-total">306.00</span></td>
      					</tr>
      				</table>
      			</div>
      			<div class="checkout-bottom">
      				<span class="continue-shopping">
      					<u>CONTINUE SHOPPING</u>
      				</span>
      				<button class="button-checkout">CHECKOUT</button>
      			</div>
      		</div>
      	</div>
      </div>

      <!-- EDIT POPUP -->
      <div id="popup1" class="overlay">
      	<input type="hidden" id="pop-index" />
      	<div class="popup">
      		<a class="close" href="#">&times;</a>

      		<div class="left">
      			<p class="pop-pname" id="pop-pname">wsdmdw</p>
      			<p class="pop-price" id="pop-price">
      				<b>$21</b>
      			</p>
      			<p class="pop-ptype">PAISLEY</p>

      			<select id="drop-select1">
      				<!-- <option value="size">Size</option> -->
      				<option value="" disabled selected>Size</option>
      				<option value="s">S</option>
      				<option value="b">B</option>
      				<option value="l">L</option>
      			</select>
      			<select id="drop-select2">
      				<option value="qty">QTY:1</option>
      			</select>
      			<br>
      			<button class="button-edit" id="button-edit" onclick="editItem()">EDIT</button>
      			<br>
      			<span class="continue-shopping2">
      				<u>See product details</u>
      			</span>
      		</div>
      		<div class="right" id="img-div">

      		</div>
      	</div>
      </div>
    </script>
    <div class="content-placeholder"></div>
    <script src="js/custom/main.js"></script>
  </body>
</html>
