* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #818181;
  font-family: Century Gothic Regular, arial;
  font-size: 12px;
}
.mobile-productSize,
.mobile-productQty {
  display: none;
}
.mobile-only {
  display: none;
}
.mobile-productPrice {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
img {
  height: 80%;
}
header h2 {
  text-transform: uppercase;
  font-size: 21px;
  padding: 30px 0;
  float: left;
}
.center-align {
  text-align: center;
  padding: 34px;
}
.hide .center-align {
  text-align: center;
}
header h3 {
  float: right;
}

table.list-items {
  border: 0px;
  width: 100%;
  border-spacing: 0px;
  border-bottom: 6px solid #dddbdc;
}

table.list-items th {
  border-top: 1px solid #dddbdc;
  border-bottom: 6px solid #dddbdc;
  text-transform: uppercase;
}

table.list-items td {
  border-bottom: 1px solid #dddbdc;
}

table.list-items th,
table td {
  text-align: left;
  padding: 20px 10px;
  vertical-align: top;
}

table.list-items p {
  line-height: 20px;
}

table.list-items .productTitle {
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bold;
}

table.list-items .productImg {
  width: 100px;
}

table.list-items .productSize {
  font-weight: bold;
  padding-top: 20px;
}

table.list-items .productQty {
  width: 36px;
  height: 22px;
  border: 1px solid #dddbdc;
  text-align: center;
  margin-top: 16px;
}

table.list-items .productPrice {
  font-size: 16px;
  font-weight: bold;
  padding-top: 16px;
}

table.list-items .productControls {
  text-transform: uppercase;
  padding-top: 55px;
}

table.list-items .productControls a {
  color: #818181;
  text-decoration: none;
}

table.list-items .productControls a:hover {
  color: red;
}

.below-container {
  width: 80%;
  margin: 0 auto;
}
.customerService {
  float: left;
  font-size: 14px;
}
.checkoutJourney {
  float: right;
}
input[type="text"] {
  padding: 12px 20px;
  /* margin: 8px 0; */
  border: 1px solid #ccc;
}
.applyButton {
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #555555;
}
.promo {
  padding-bottom: 70px;
  border-bottom: 6px solid #dddbdc;
}
table.checkout-total {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddbdc;
}
table.checkout-total .table-left {
  text-align: left;
  padding: 20px 0px;
  font-size: 14px;
}
table.checkout-total .table-right {
  text-align: right;
  padding: 20px 0px;
  font-size: 14px;
}
table.estimated-total {
  width: 100%;
  border-bottom: 6px solid #dddbdc;
}
table.estimated-total .table-left {
  text-align: left;
  padding: 20px 0px;
}
table.estimated-total .table-right {
  text-align: right;
  padding: 20px 0px;
  font-size: 14px;
}
.button-checkout {
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 0px;
  cursor: pointer;
  background-color: #008cba;
}
.checkout-bottom {
  text-align: right;
}
.below-container-rapper {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 35px;
}
.continue-shopping {
  margin-right: 15px;
  cursor: pointer;
}
.customer-service-content {
  margin-bottom: 15px;
}
.promo-left {
  float: left;
  margin-right: 55px;
  margin-top: 5px;
  font-size: 14px;
}
.promo-right {
  float: right;
}
.show-mobile {
  display: none;
}

/* Responsive view for MOBILE with maximum width of 767px */
@media only screen and (max-width: 767px) {
  body {
    /* background-color: pink; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  header {
    border-bottom: 6px solid #dddbdc;
    float: left;
    width: 100%;
  }
  header h2 {
    padding: 0;
    margin: 30px;
    font-size: 19px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .below-container {
    width: 100%;
    margin: 0 auto;
  }
  .customerService {
    display: none;
  }
  .hide {
    display: none;
  }

  .customerService,
  .checkoutJourney,
  .promo-left,
  .promo-right {
    float: none;
  }
  .promo {
    text-align: center;
    padding-bottom: 40px;
  }
  .below-container-rapper {
    margin-top: 30px;
  }

  table.list-items .productImg {
    width: 50%;
    text-align: center;
  }
  table.list-items .productControls {
    margin-top: -25px;
  }
  table.checkout-total,
  table.estimated-total {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  table.estimated-total {
    border-bottom: none;
  }
  .checkout-bottom {
    text-align: center;
  }
  .button-checkout {
    position: relative;
    top: -65px;
  }
  .continue-shopping {
    cursor: pointer;
    position: absolute;
  }
  .checkout-bottom {
    margin-top: 70px;
  }
  .button-checkout {
    padding: 15px 50px;
    margin: 10px -32px;
  }
  .mobile-only {
    display: block;
    margin: 32px;
    font-size: 14px;
  }
  .desktop-only {
    display: none;
  }
  .show-mobile {
    display: block;
    display: inline-block;
  }
  .productSize,
  .productQty,
  .productPrice {
    display: none;
  }
  .mobile-productSize {
    display: block;
    font-weight: bold;
    padding-top: 20px;
  }
  .mobile-productQty {
    display: block;
    display: inline-block;
    width: 36px;
    height: 22px;
    border: 1px solid #dddbdc;
    text-align: center;
    margin-top: 16px;
  }
  table.list-items .productControls {
    position: relative;
    left: -100px;
    /* min-width: 240px; */
    margin-left: -45px;
  }
  .mobile-productPrice {
    display: block;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-top: 16px;
  }
}

@media only screen and (max-width: 373px) {
  header h2 {
    font-size: 14px;
  }
  .mobile-only {
    font-size: 12px;
  }
}
