h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06d85f;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  text-align: center;
  margin: 9% auto;
  padding: 45px;
  background: #fff;
  width: 40%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.left {
  display: inline-block;
  text-align: center;
  margin-right: 55px;
  margin-left: 40px;
  margin-top: -35px;
  padding-top: 17px;
  border-top: 6px solid #dddbdc;
}
.right {
  display: inline-block;
}
.right img {
  height: 225px;
  width: 225px;
}
.pop-pname {
  margin-bottom: 8px;
}
.pop-price {
  font-size: 25px;
  margin-bottom: 18px;
}
.pop-ptype {
  margin-bottom: 8px;
}
.button-edit {
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 0px;
  cursor: pointer;
  background-color: #008cba;
}
#drop-select1,
#drop-select2 {
  padding: 6px 1px;
}

/* Responsive view for MOBILE with maximum width of 767px */
@media screen and (max-width: 767px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
  .right img {
    height: 150px;
    width: 150px;
    margin-top: 32px;
  }
  .continue-shopping2 {
    margin-left: 0;
  }
  .popup {
    padding-top: 75px;
  }
}
